<header class="header">
  <div class="header-logo">
    <img
      srcset="../img/header/logo-2x.jpg 2x"
      src="../img/header/logo-1x.jpg"
      alt="logo"
      class="header-img"
    />
    <p class="header-name">jefferson*</p>
  </div>
  <div class="menu-container">
    <button class="header-menu-btn">
      <span class="desktop-menu-label">Menu</span>
      <svg class="icon-burger">
        <use href="../img/icons.svg#icon-modal"></use>
      </svg>
    </button>
    <div class="modal-window">
      <div class="modal-header">
        <button class="header-close mobile-btn">
          <svg class="icon-burger">
            <use href="../img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul class="header-menu-items">
          <li>About me</li>
          <li>Benefits</li>
          <li>Projects</li>
          <li>FAQ</li>
        </ul>
      </nav>
      <div class="modal-footer">
        <a href="#work-together" class="header-link mobile-link"
          >Order the project</a
        >
      </div>
    </div>
  </div>
  <a href="#work-together" class="header-link header-link-desctop"
    >Order the project</a
  >
</header>
