<section class="projects" id="projects">
    <div class="container">
        <h2 class="header-for-projects">Projects</h2>
        <div class="swiper-container">
            <ul class="swiper-wrapper projects-list">
                <li class="swiper-slide projects-item">
                    <div class="project-wraper">
                    <div class="project-info-wraper">
                        <div class="project-tags">
                            <a class="tag" href="">#react</a>
                            <a class="tag" href="">#js</a>
                            <a class="tag" href="">#node.js</a>
                            <a class="tag" href="">#git</a>
                        </div>
                        <h4 class="project-description">Programming Across Borders: Ideas, Technologies, Innovations</h4>
                        <a class="project-btn" href="https://github.com/TOR10S/script-masters" target="_blank">See project</a>
                    </div>
                    <div class="project-img-wraper">
                        <picture>
                            <source srcset="./img/projects/project-img-1-1x.jpg 1x, ./img/projects/project-img-1-2x.jpg 2x" media="(max-width: 767px)">
                            <source srcset="./img/projects/project-img-tablet-1-1x.jpg 1x, ./img/projects/project-img-tablet-1-2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="./img/projects/project-img-desktop-1-1x.jpg 1x, ./img/projects/project-img-desktop-1-2x.jpg 2x" media="(min-width: 1440px)">
                            <img src="./img/projects/project-img-1-1x.jpg" alt="Project Image 1" class="project-img" loading="lazy" >
                        </picture>
                    </div> 
                </div>
                </li>
                <li class="swiper-slide projects-item">
                    <div class="project-wraper">
                    <div class="project-info-wraper">
                        <div class="project-tags">
                            <a class="tag" href="">#react</a>
                            <a class="tag" href="">#js</a>
                            <a class="tag" href="">#node.js</a>
                            <a class="tag" href="">#git</a>
                        </div>
                        <h4 class="project-description">Programming Across Borders: Ideas, Technologies, Innovations</h4>
                        <a class="project-btn" href="https://github.com/TOR10S/script-masters" target="_blank">See project</a>
                    </div>
                    <div class="project-img-wraper">
                        <picture>
                            <source srcset="./img/projects/project-img-2-1x.jpg 1x, ./img/projects/project-img-2-2x.jpg 2x" media="(max-width: 767px)">
                            <source srcset="./img/projects/project-img-tablet-2-1x.jpg 1x, ./img/projects/project-img-tablet-2-2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="./img/projects/project-img-desktop-2-1x.jpg 1x, ./img/projects/project-img-desktop-2-2x.jpg 2x" media="(min-width: 1440px)">
                            <img src="./img/projects/project-img-2-1x.jpg" alt="Project Image 2" class="project-img" loading="lazy">
                        </picture>
                    </div>
                </div>
                </li>
                <li class="swiper-slide projects-item">
                    <div class="project-wraper">
                    <div class="project-info-wraper">
                        <div class="project-tags">
                            <a class="tag" href="">#react</a>
                            <a class="tag" href="">#js</a>
                            <a class="tag" href="">#node.js</a>
                            <a class="tag" href="">#git</a>
                        </div>
                        <h4 class="project-description">Programming Across Borders: Ideas, Technologies, Innovations</h4>
                        <a class="project-btn" href="https://github.com/TOR10S/script-masters" target="_blank">See project</a>
                    </div>
                    <div class="project-img-wraper">
                        <picture>
                            <source srcset="./img/projects/project-img-3-1x.jpg 1x, ./img/projects/project-img-3-2x.jpg 2x" media="(max-width: 767px)">
                            <source srcset="./img/projects/project-img-tablet-3-1x.jpg 1x, ./img/projects/project-img-tablet-3-2x.jpg 2x" media="(min-width: 768px)">
                            <source srcset="./img/projects/project-img-desktop-3-1x.jpg 1x, ./img/projects/project-img-desktop-3-2x.jpg 2x" media="(min-width: 1440px)">
                            <img src="./img/projects/project-img-3-1x.jpg" alt="Project Image 3" class="project-img" loading="lazy">
                        </picture>
                    </div>
                </div>
                </li>
            </ul>
            <div class="arrow-navigation">
                <button class="projects-button-prev"><svg class="projects-prev-arrow" width="24" height="24"><use href="./img/icons.svg#icon-arrow-narrow-left"></use></svg></button>
                <button class="projects-button-next"><svg class="projects-next-arrow" width="24" height="24"><use href="./img/icons.svg#icon-arrow-narrow-right1"></use></svg></button>
            </div>
        </div>
    </div>
</section>
