<section>
    <div class="container">
        <h2 class="header-for-projects">Projects</h2>
        <ul class="projects-list">
            <li class="projects-item">
                <div class="project-info-wraper">
                <div class="project-tags">
                    <button class="tag">#react</button>
                    <button class="tag">#js</button>
                    <button class="tag">#node.js</button>
                    <button class="tag">#git</button>
                </div>
                <h4 class="project-description">Programming Across Borders: Ideas, Technologies, Innovations</h4>
                <button class="project-btn">See project</button>
                </div>
                <div class="project-img-wraper">
                    <img src="../img/projects/project-img-1-1x.jpg" alt="books-project" class="project-img">
                </div>
            </li>
            <li class="projects-item hiden-1">
                <div class="project-info-wraper">
                <div class="project-tags">
                    <button class="tag">#react</button>
                    <button class="tag">#js</button>
                    <button class="tag">#node.js</button>
                    <button class="tag">#git</button>
                </div>
                <h4 class="project-description">Programming Across Borders: Ideas, Technologies, Innovations</h4>
                <button class="project-btn">See project</button>
                </div>
                <div class="project-img-wraper">
                    <img src="../img/projects/project-img-2-1x.jpg" alt="books-project" class="project-img">
                </div>
            </li>
            <li class="projects-item hiden-2">
                <div class="project-info-wraper">
                <div class="project-tags">
                    <button class="tag">#react</button>
                    <button class="tag">#js</button>
                    <button class="tag">#node.js</button>
                    <button class="tag">#git</button>
                </div>
                <h4 class="project-description">Programming Across Borders: Ideas, Technologies, Innovations</h4>
                <button class="project-btn">See project</button>
                </div>
                <div class="project-img-wraper">
                    <img src="../img/projects/project-img-3-1x.jpg" alt="books-project" class="project-img">
                </div>
            </li>
        </ul>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
              <div class="swiper-slide">Slide 6</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>         
        </div>
    </div>
</section>
<script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>