<div class="reviews-block">
  <h2 class="reviews-title">REVIEWS</h2>

  <div class="reviews-section">
    <ul class="reviews-cards"></ul>
    <div class="arrows">
      <button class="arrow left-arrow">
        <svg width="24px" height="24px" class="prev-arrow">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>

      <button class="arrow right-arrow">
        <svg width="24px" height="24px" class="next-arrow">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
