<section id="reviews">
  <div class="container">
    <div class="reviews-block">
      <h2 class="reviews-title">REVIEWS</h2>
      <div class="reviews-section">
        <div class="swiper-reviews">
          <ul class="swiper-wrapper reviews-cards"></ul>
          <div class="arrows">
            <button class="left-arrow arrow" type="button">
              <svg width="24px" height="24px" class="prev-arrow">
                <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
              </svg>
            </button>

            <button class="right-arrow arrow" type="button">
              <svg width="24px" height="24px" class="next-arrow">
                <use href="./img/icons.svg#icon-arrow-narrow-right1"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
