/* --------------hero------------------ */

.hero {
    padding-top: 0;
    background-image: url(../img/hero/hero-background.png);
    background-repeat: repeat-y;
    background-position: left;
}

.container-hero {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    width: 343px;
    height: 250px;
    margin-bottom: 212px;
    margin-top: 281px;
}

.hero-list {
    display: flex;
    gap: 4px;
    margin-bottom: 32px;
}

.hero-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-item:hover,
.hero-item:active {
    border: 1px solid #fafafa;
}

.hero-item-mail {
    width: 178px;
}

.hero-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
}


@media screen and (min-width:320px) and (max-width:375px) {
    .hero-title {
        width: 100%;
        margin-bottom: 170px;
    }

    .hero-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
}

@media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
    .hero {
        background-image: url(../img/hero/hero-background-2x.png);
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .hero {
        background-image: url(../img/hero/hero-background-tablet.png);
    }

    .hero-title {
        font-size: 90px;
        width: 632px;
        height: 450px;
        margin-bottom: 187px;
        margin-top: 300px;
    }

    .hero-list {
        gap: 8px;
        justify-content: flex-end;
    }

    .hero-item {
        padding: 18px 16px;
        width: 55px;
        height: 55px;
    }

    .hero-item-mail {
        padding: 18px 24px;
        width: 223px;
    }

    .hero-link {
        font-size: 16px;
    }

    @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
        .hero {
            background-image: url(../img/hero/hero-background-tablet-2x.png);
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        background-image: url(../img/hero/hero-background-desktop.png);
        /* align-items: center; */
    }

    .container-hero {
        align-items: center;
    }

    .hero-title {
        font-size: 90px;
        width: 1084px;
        height: 270px;
        margin-bottom: 243px;
        margin-top: 300px;
    }

    .hero-list {
        gap: 8px;
        margin-left: auto;
    }

    .hero-item {
        padding: 18px 16px;
        width: 55px;
        height: 55px;
    }

    .hero-item-mail {
        padding: 18px 24px;
        width: 223px;
    }

    .hero-link {
        font-size: 16px;
    }

    @media screen and (min-resolution: 2dppx), (min-resolution: 192dpi) {
        .hero {
            background-image: url(../img/hero/hero-background-desktop-2x.png);
        }
    }
}

/* --------------hero------------------ */