.header-for-projects {
color: rgba(250, 250, 250, 0.40);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: -0.32px;
text-transform: uppercase;
margin-bottom: 32px;
}

.projects-list {
    display: flex;
    width: 343px;
}

.project-info-wraper {
    background-color: #FAFAFA;
    border-radius: 24px 24px 0px 0px;
    padding: 32px;
}

.project-tags {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.tag {
    display: inline-block;
    color: #1C1D20;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
    background-color: transparent;
    border-radius: 60px;
    border: 1px solid rgba(28, 29, 32, 0.20);
    padding: 13px 18px;
}

.project-description {
    color: #1C1D20;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 116.667% */
letter-spacing: -0.72px;
margin-bottom: 32px;
}

.project-btn {
    display: inline-block;
    border-radius: 60px;
    color: #FAFAFA;
background: #ED3B44;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
padding: 13px 32px;
border: none;
}

.project-img-wraper {
background: #242527;
border-radius: 0px 0px 24px 24px;
}

.project-img {
    padding: 100px 16px;
}

.arrow-navigation {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.projects-button-prev, .projects-button-next {
    border-radius: 60px;
    border: 1px solid rgba(250, 250, 250, 0.50);
    background-color: transparent;
}

.projects-prev-arrow {
    fill: #FAFAFA;
    color: #FAFAFA;
}



@media screen and (min-width:768px) and (max-width:1439px) {
    .projects-list {
        width: 704px;
    }

    .project-tags{
        margin-bottom: 164px;
    }

    .project-description{
        width: 494px;
        font-size: 44px;
line-height: 44px; /* 100% */
letter-spacing: -1.32px;
    }

    .project-info-wraper{
        padding: 64px;
    }

    .project-img {
        padding: 120px 45px;
    }

    .project-btn {
        padding: 18px 50px;
    }

    .tag {
        padding: 18px;
    }
}

@media screen and (min-width:1440px) {
    .projects-list {
    width: 1376px;    
    }

    .project-wraper {
        display: flex;
        flex-direction: row;
    }

    .project-info-wraper{
        padding: 64px;
    }

    .project-tags{
        margin-bottom: 223px;
    }

    .project-description{
        width: 494px;
        font-size: 44px;
line-height: 44px; /* 100% */
letter-spacing: -1.32px;
    }

    .project-img {
        padding: 120px 37px;
    }

    .project-img-wraper {
        border-radius: 0px  24px 24px 0px;
    }

    .project-info-wraper {
        width: 688px;
        border-radius: 24px 0px 0px 24px;
    }

    .project-description{
        width: 494px;
        font-size: 44px;
line-height: 44px; /* 100% */
letter-spacing: -1.32px;
    }

    .project-btn {
        padding: 18px 50px;
    }

    .tag {
        padding: 18px;
    }
}