/* Reset styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'InterTight', sans-serif;
  margin: 0;
  background: #1c1d20;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding-bottom: 32px;
  padding-top: 32px;
}

footer {
  padding-bottom: 32px;
  padding-top: 32px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .container {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  footer {
    padding-bottom: 169px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-right: 32px;
    padding-left: 32px;
  }

  section {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  footer {
    padding-bottom: 169px;
    padding-top: 40px;
  }
}
