.reviews-block {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.reviews-title {
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}

.reviews-cards {
  gap: 18px;
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.reviews-cards-li {
  flex: 0 0 auto;
  max-width: 326px;
  min-height: 300px;
  padding: 32px 24px;
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: aliceblue;
}
.swiper {
  width: 100%;
}

.reviews-cards-li h4 {
  color: #fafafa;
}
.icon {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 32px;
}
.card-comment {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin: 0;
  margin-top: 8px;
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
}

button.arrow {
  background: transparent;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  padding: 14px;
  cursor: pointer;
  width: 52px;
  height: 52px;
}
.next-arrow,
.prev-arrow {
  fill: #fafafa;
}
button.arrow:focus {
  outline: none;
}

button.arrow:disabled {
  opacity: 0.5;
}

button.arrow:disabled svg path {
  stroke: #aaaaaa;
}

/*Not found block*/
.not-found-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 1440px;
}

.not-found-message {
  font-size: 24px;
  color: #aaa;
  text-align: center;
  margin: 0;
  padding: 20px;
  line-height: 1.5;
}

/*adaptation*/

@media (min-width: 768px) {
  .reviews-cards-li {
    max-width: 335px;
  }
}

@media (min-width: 1440px) {
  .reviews-cards-li {
    max-width: 326px;
  }
}
