.work-together {
  background-color: #1c1d20;
  background-image: url(../img/footer/footer.jpg);
  background-position: right;
  background-repeat: no-repeat;
}
.work-together__title-wrap {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 4px;
  flex-wrap: wrap;
}
.work-together__title {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 40px;

  /* line-height: 40px; */
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}
.work-together__title span {
  color: #ed3b44;
}
.work-together__title.together {
  margin-bottom: 63px;
}
.work-together__img {
  border-radius: 14px;
  width: 44px;
  height: 44px;
}

.work-together__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 64px;
}
.work-together__input {
  /* all: unset; */
  border: none;
  outline: none;
  background-color: transparent;

  border-bottom: 1px solid #fafafa33;

  width: 100%;
  padding: 0 0 20px 0;
  margin-bottom: 16px;
  display: block;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together__input::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
#charCount {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  display: none;
  position: absolute;
  top: 107%;
}
.work-together__input:hover,
.work-together__input:focus,
.work-together__input:active {
  border-bottom: 1px solid #fafafa80;
}
.work-together__input.success {
  border-bottom: 1px solid #3cbc81;
}

.work-together__input:not(:placeholder-shown).error {
  border-bottom: 1px solid #e74a3b;
}
.work-together__message {
  display: none;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;

  margin-top: -12px;
  margin-bottom: 16px;
  width: 100%;
}
.work-together__input.success + .work-together__message {
  display: block;
}
.work-together__input:not(:placeholder-shown).error + .work-together__message {
  display: block;
}

.work-together__button {
  margin-top: 32px;
  width: 100px;
  padding: 40px 32px 41px;

  border: none;
  border-radius: 50%;
  background-color: #ed3b44;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together__button:hover {
  background-color: #e0373f;
}

.work-together__button:not(:disabled):active {
  transform: scale(0.95);
}

.work-together__link {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;

  display: block;
  padding: 10px 12px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-together__link:not(:last-child) {
  margin-bottom: 16px;
}
.work-together__link:hover {
  border: 1px solid #fafafa;
}

/* error input */
.work-together__form div {
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .work-together__title-wrap {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 356px) {
  .work-together__wrap {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .work-together__link:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .work-together {
    background-image: url(../img/footer/footer-tablet.jpg);
    padding: 80px 32px 69px;
  }
  .work-together__title {
    font-size: 64px;
  }
  .work-together__title.together {
    margin-bottom: 18px;
  }
  .work-together__img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }
  .work-together__form {
    margin-bottom: 18px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  }
  .work-together__input {
    margin: 0;
    width: 245px;
  }
  .work-together__message {
    position: absolute;
    width: 100%;
    top: 134%;
  }
  .work-together__button {
    width: 150px;
    margin: 0;
    padding: 65px 57px 66px;
  }
  .work-together__wrap {
    gap: 8px;
  }
  .work-together__link {
    font-size: 16px;
    padding: 18px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .work-together {
    padding: 80px 201px 169px 196px;
    background-image: url(../img/footer/footer-desktop.jpg);
  }

  .work-together__form {
    width: 100%;
    align-items: center;
    gap: 32px;
    /* justify-content: space-between; */
  }

  .work-together__input {
    margin: 0;
    width: 390px;
    flex-shrink: 0;
    /* flex-grow: 1; Дозволяє інпутам розширюватись і займати доступний простір */
  }

  .work-together__button {
    padding: 65px 57px 66px;
    margin-left: 54px;
  }
  .work-together__button {
    flex-shrink: 0; /* Зменшення розміру кнопки при недостатньому місці */
  }
}
